body{
    background-color: #fef6e4;
}
.page-heading{
    margin: 50px auto;
    color: #001858;
    text-align: center;
}
.button-container{
    display: flex;
    justify-content: center;
}
.my-buttons
{
    background-color: #f582ae;
    margin:0 30px;
    padding: 10px 30px;
    width:150px;
    border-radius: 50px;
    cursor: pointer;
}